body {
	font-family: Arial, Tahoma, sans-serif;
	background-color: #e8e8e8;

}

h1 {
  color: rgba(10,60,150, 0.8);
  text-align: center;
  text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
  font-size: 3em;
}

.view {
	margin: auto;
	width: 100%;
	max-width: 1000px;
}

ul.buzzword-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.buzzword-list > li {
	background-color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	color: #5a5a5a;
	transition: box-shadow 0.15s;
	box-shadow: 2px 2px 4px #ccc;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

ul.buzzword-list > li > div {
	display: inline-block;
	float: left;
	width: 50%;
	margin-bottom: 10px;
	padding: 20px 0px;
}

ul.buzzword-list > li > div > span {
	padding: 0px 20px;
}

ul.buzzword-list > li > div:nth-child(2) {
	text-align: right;
}

ul.buzzword-list > li:hover {
	box-shadow: 2px 2px 4px #808080;
}